:root {
    --light-color-1 : rgba(225,225,255);
    --light-color-2 : rgba(255,255,255);
    --lignt-color-3 : rgba(255,125,125);
    --light-color-4 : rgba(000,000,000);
    --dark-color-1  : rgba(25,25,0);
    --dark-color-2  : rgba(0,0,0);
    --dark-color-3  : rgba(0,125,125);
    --dark-color-4  : rgba(255,255,255);
    /*Setting the base color theme
    The base color theme is the light theme.*/
    --color-background: var(--light-color-1);
    --color-border: var(--light-color-2);
    --color-heading: var(--light-color-3);
    --color-text: var(--light-color-3);
    --color-link:var(--light-color-4);
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--dark-color-1);
        --color-border: var(--dark-color-2);
        --color-heading: var(--dark-color-3);
        --color-text: var(--dark-color-3);
        --color-link:var(--dark-color-4);
    }
}
body {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text);
    text-align: center;
    display: wrap block;
    margin: 10px;
    padding: 1%;
}
a {
    color: var(--color-link);
}
table {
    font-size: 75%;
}
td {
    border: solid var(--color-border);
}
menu {
    text-align: left;
}
ul li {
    text-align: left;
}
@media (min-width: 499px) {
    body {
    }
    table {
    }
    }
}